:root {
  --jet: #2d2d2aff;
  --davys-gray: #4c4c47ff;
  --cool-gray: #848fa5ff;
  --bittersweet-shimmer: #c14953ff;
  --pearl: #e5dcc5ff;
}

.search_bar_container {
  border: solid;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  grid-template-columns: 3fr 1fr;
  column-gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  background-color: var(--pearl);
  color: var(--davys-gray);
  border-bottom: 2px solid var(--bittersweet-shimmer);
  margin: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

button.submit_search_btn {
  width: 4rem;
  height: 2rem;
}
